{% extends 'bases/base.html' %}
{% load static %}
    {% block content %}
	<!-- ================ HEADER-TITLE ================ -->
	<section class="s-header-title">
		<div class="container">
			<h1>Gallery</h1>
			<ul class="breadcrambs">
				<li><a href="{% url 'home' %}">Home</a></li>
				<li>Gallery</li>
			</ul>
		</div>
	</section>
	<!-- ============== HEADER-TITLE END ============== -->

	<!--==================== S-GALLERY ====================-->
	<section class="s-gallery">
		<div class="container">
			<div class="row-gallery">
				<div class="grid-gallery">
					<div class="grid-sizer"></div>
                {% if gallery|length > 0 %}
                    {% for obj in gallery %}
                        {% if forloop.first %}
                            <div class="gallery-item gallery-item-big">
						<a href=" " data-fancybox="gallery1">
							<img src="{% if obj.photo %}
						    {{ obj.photo.url }}
						    {% else %}
						    {% static 'assets/img/gal-1.jpg' %}
						{% endif %}" alt="img">
							<div class="gal-item">
								<h3 class="title">{{ obj.titre }}</h3>
								<p>Clients Satisfaits</p>
							</div>
						</a>
					</div>
                            {% else %}
                            <div class="gallery-item">
						<a href=" " data-fancybox="gallery1">
							<img src="{% if obj.photo %}
						    {{ obj.photo.url }}
						    {% else %}
						    {% static 'assets/img/gal-1.jpg' %}
						{% endif %}" alt="img">
							<div class="gal-item">
								<h3 class="title">{{ obj.titre }}</h3>
								<p>Clients Satisfaits</p>
							</div>
						</a>
					</div>
                        {% endif %}

                    {% endfor %}
                    {% else %}
                    <h3>Pas de contenu à afficher</h3>
                {% endif %}
				</div>
			</div>
		</div>
	</section>
	<!--================== S-GALLERY END ==================-->
    {% endblock%}