{% extends 'bases/base.html' %}
{% load static %}
    {% block content %}
	<!-- =============== main-slider =============== -->
	<section class="s-main-slider">
		<div class="main-slide-navigation"></div>
		<ul class="main-soc-list">
			<li><a href="https://www.facebook.com/rovadex">facebook</a></li>
			<li><a href="https://twitter.com/RovadexStudio">twitter</a></li>
			<li><a href="https://www.instagram.com/rovadex/">instagram</a></li>
		</ul>
		<div class="main-slider">
            {% for article in produit %}
                <div class="main-slide">
				<div class="main-slide-bg" style="background-image: url({% static 'assets/img/bg-slider.svg' %});"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">Meilleurs vélos pour vous</h2>
						<p>Le meilleur choix vous appartient</p>
						<a href="" class="btn"><span>Acheter Maintenant</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="{% url 'shop:single' article.id %}" class="lable-bike">
							<div class="lable-bike-img"><img src="{{ article.image0.url }}" alt="img"></div>
							<div class="lable-bike-item">
								<div class="model">{{ article.categorie }}</div>
								<div class="price">${{ article.prix }}</div>
							</div>
						</a>
						<img src="{% static 'assets/img/img-slider.png' %}" alt="img" class="slide-img">
					</div>
				</div>
			</div>
            {% endfor %}
		</div>
	</section>
	<!-- ============= main-slider end ============= -->

	<!--================ S-FIND-BIKE ================-->
	<section class="s-find-bike">
		<div class="container">
			<form class="find-bike-form">
				<h2 class="title">find the bike</h2>
				<ul class="form-wrap">
					<li>
						<label>Type</label>
						<select class="nice-select">
							<option selected="selected">Mountain bike</option>
							<option>Hybrid/Comfort Bike</option>
							<option>Cyclocross Bike</option>
							<option>BMX/Trick Bike</option>
							<option>Road Bike</option>
							<option>Track Bike</option>
						</select>
					</li>
					<li>
						<label>Wheel Size</label>
						<select class="nice-select">
							<option selected="selected">20</option>
							<option>24</option>
							<option>26</option>
							<option>27</option>
							<option>27.5</option>
							<option>28</option>
						</select>
					</li>
					<li>
						<label>Brand</label>
						<select class="nice-select">
							<option selected="selected">Pinarello</option>
							<option>Eddy Merckx</option>
							<option>Specialized</option>
							<option>Giant</option>
							<option>Trek</option>
							<option>BMC</option>
						</select>
					</li>
					<li><a href="{% url 'shop:shop' %}" class="btn"><span>search</span></a></li>
				</ul>
			</form>
		</div>
	</section>
	<!--============== S-FIND-BIKE END ==============-->

	<!--============== S-CATEGORY-BICYKLE ==============-->
	<section class="s-category-bicycle">
		<div class="container">
			<div class="slider-categ-bicycle">
				{% for sp in produit%}
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						{% if sp.image1 %}
						<img src=" {{sp.image1.url}} " alt="category">
						{% else %}
						<img src="{% static 'assets/img/categ-2.png' %}" alt="category">
						{% endif %}
						<div class="categ-bicycle-info">
							<h4 class="title">{{sp.titre}}</h4>
							<a href="{% url 'shop:shop' %}" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
	<!--============ S-CATEGORY-BICYKLE END ============-->

	<!--=============== S-OUR-ADVANTAGES ===============-->
	<section class="s-our-advantages" style="background-image: url({% static 'assets/img/bg-advantages.jpg' %});">
		<span class="mask"></span>
		<div class="container">
			<h2 class="title">Our Advantages</h2>
			<div class="our-advantages-wrap">
				<div class="our-advantages-item">
					<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/advantages-1.svg' %}" alt="icon">
					<h5>Free shipping <br>from $500</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/advantages-2.svg' %}" alt="icon">
					<h5>Warranty service <br>for 3 months</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/advantages-3.svg' %}" alt="icon">
					<h5>Exchange and return <br>within 14 days</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/advantages-4.svg' %}" alt="icon">
					<h5>Discounts for <br>customers</h5>
				</div>
			</div>
		</div>
	</section>
	<!--============= S-OUR-ADVANTAGES END =============-->

	<!--================== S-PRODUCTS ==================-->
	<section class="s-products">
		<div class="container">
			<div class="tab-wrap">
				<div class="products-title-cover">
					<h2 class="title">Nos produits</h2>
					<ul class="tab-nav product-tabs">
						<li class="item" rel="tab1"><span>All</span></li>
                        {% for categorie in categories %}
                            <li class="item" rel="tab{{ categorie.id }}"><span>{{ categorie }}</span></li>
                        {% endfor %}

					</ul>
				</div>
				<div class="tabs-content">
                    <div class="tab tab1">
						<div class="row product-cover">
							{% for pr in prod %}
								<div class="col-sm-6 col-lg-3">

									<div class="product-item">
										<span class="top-sale">top sale</span>
										<ul class="product-icon-top">
											<li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
										</ul>
										<a href="addtocart/{{pr.id}}" class="product-img">
											{% if pr.image1 %}
											<img class="lazy" src="{{pr.image1.url }}" data-src="{{pr.image1.url}}" alt="product">
											{% else %}
											<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/prod-1.png' %}" alt="product">
											{% endif %}
										</a>
										<div class="product-item-cover">
											<div class="price-cover">
												<div class="new-price">$ {{pr.prix}} </div>
												<div class="old-price">${{pr.reduction}}</div>
											</div>
											<h6 class="prod-title"><a href="shop/single-shop.html">{{pr.titre}} </a></h6>
											<a href="addtocart/{{pr.id}}" class="btn"><span>buy now</span></a>
										</div>
										<div class="prod-info">
											<ul class="prod-list">
												<li>Frame Size: <span>17</span></li>
												<li>Class: <span>City</span></li>
												<li>Number of speeds: <span>7</span></li>
												<li>Type: <span>Rigid</span></li>
												<li>Country registration: <span>USA</span></li>
											</ul>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>



				</div>
			</div>
		</div>
	</section>
	<!--================ S-PRODUCTS END ================-->

	<!--================== S-SUBSCRIBE ==================-->
	<section class="s-subscribe" style="background-image: url({% static 'assets/img/bg-subscribe.jpg' %});">
		<span class="mask"></span>
		<span class="subscribe-effect wow fadeIn" data-wow-duration="1s" style="background-image: url({% static 'assets/img/subscribe-effect.svg' %});"></span>
		<div class="container">
			<div class="subscribe-left">
				<h2 class="title"><span>Subscribe</span></h2>
				<p>Subscribe us and you won't miss the new arrivals, as well as discounts and sales.</p>
				<form class="subscribe-form" action="" method="POST">
                    {% csrf_token %}
					<i class="fa fa-at" aria-hidden="true"></i>
					<input class="inp-form" type="email" name="subscribe" placeholder="E-mail">
					<button type="submit" class="btn btn-form btn-yellow"><span>send</span></button>
				</form>
			</div>
			<img class="wow fadeInRightBlur lazy" data-wow-duration=".8s" data-wow-delay=".3s" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/subscribe-img.png' %}" alt="img">
		</div>
	</section>
	<!--================ S-SUBSCRIBE END ================-->

	<!--================== S-FEEDBACK ==================-->
	<section class="s-feedback" style="background-image: url({% static 'assets/img/bg-feedback.jpg' %});">
		<span class="effwct-bg-feedback" style="background-image: url({% static 'assets/img/effect-bg-feedback.svg' %});"></span>
		<span class="mask"></span>
		<div class="container">
			<h2 class="title">feedback</h2>
			<div class="feedback-slider">
                {% for feed in feedback %}
                    <div class="feedback-slide">
					<div class="feedback-item">
						<div class="feedback-content">
							<p>{{ feed.message }}</p>
						</div>
						<div class="feedback-item-top">
							<img src="{% static 'assets/img/feedback-photo-1.png' %}" alt="photo">
							<div class="feedback-title">
								<h5 class="title"><span>{{ feed }}</span></h5>
								<ul class="rating">
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-bg"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-not-bg"><i class="fa fa-star-o" aria-hidden="true"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
                {% endfor %}



			</div>
		</div>
	</section>
	<!--================ S-FEEDBACK END ================-->

	<!--=================== S-CLIENTS ===================-->
	<section class="s-clients">
		<div class="container">
			<div class="clients-cover">
				<div class="client-slide">
					<div class="client-slide-cover">
						<img src="{% static 'assets/img/client-1.svg' %}" alt="img">
					</div>
				</div>
				<div class="client-slide">
					<div class="client-slide-cover">
						<img src="{% static 'assets/img/client-2.svg' %}" alt="img">
					</div>
				</div>
				<div class="client-slide">
					<div class="client-slide-cover">
						<img src="{% static 'assets/img/client-4.svg' %}" alt="img">
					</div>
				</div>
				<div class="client-slide">
					<div class="client-slide-cover">
						<img src="{% static 'assets/img/client-5.svg' %}" alt="img">
					</div>
				</div>
				<div class="client-slide">
					<div class="client-slide-cover">
						<img src="{% static 'assets/img/client-6.svg' %}" alt="img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================= S-CLIENTS END =================-->

	<!--=================== S-BANNER ===================-->
	<section class="s-banner" style="background-image: url({% static 'assets/img/bg-section-banner.jpg' %});">
		<span class="mask"></span>
		<div class="banner-img">
			<div class="banner-img-bg wow fadeIn" data-wow-duration=".6s" style="background-image: url({% static 'assets/img/effect-section-banner.svg' %});"></div>
			<img class="lazy wow fadeInLeftBlur" data-wow-duration=".8s" data-wow-delay=".3s" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/bike-banner.png' %}" alt="img">
		</div>
		<div class="container">
			<h2 class="title">Hyper E-Ride Bike 700C</h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem.</p>
			<div class="banner-price">
				<div class="new-price">$1.699</div>
				<div class="old-price">$1.799</div>
			</div>
			<div id="clockdiv">
				<div>
					<span class="days"></span>
					<div class="smalltext">Days</div>
				</div>
				<div>
					<span class="hours"></span>
					<div class="smalltext">Hours</div>
				</div>
				<div>
					<span class="minutes"></span>
					<div class="smalltext">Minutes</div>
				</div>
				<div>
					<span class="seconds"></span>
					<div class="smalltext">Seconds</div>
				</div>
			</div>
		</div>
	</section>
	<!--================= S-BANNER END =================-->

	<!--================== S-INSTAGRAM ==================-->
	<section class="s-instagram">
		<div class="instagram-cover">
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">234 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">134 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/instagram-1.jpg' %}" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">222 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">118 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/instagram-2.jpg' %}" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">224 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">124 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/instagram-3.jpg' %}" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">155 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">107 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/instagram-4.jpg' %}" alt="img">
			</a>
			<a href="#" class="instagram-item">
				<ul>
					<li class="comments">350 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
					<li class="like">140 <i class="fa fa-heart-o" aria-hidden="true"></i></li>
				</ul>
				<img class="lazy" src="{% static 'assets/img/placeholder-all.png' %}" data-src="{% static 'assets/img/instagram-5.jpg' %}" alt="img">
			</a>
		</div>
	</section>
	<!--================ S-INSTAGRAM END ================-->
    {% endblock %}